* {
    transition: all ease 0s;
}

.top-text-box {
    padding: 2%;
    margin-bottom: 0.7rem;
    background: rgb(247, 247, 247);
}

.normal-text {
    font-family: sans-serif;
    font-weight: normal;
    font-weight: normal;
}

.work-window {
    background: rgb(247, 247, 247);
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.bg {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.s-images {
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
}

.img-card {
    max-width: 54.73px;
    padding: 0.2rem;
    border: 0.1rem solid rgba(209, 0, 0, 0);
    border-radius: 0.2rem;
    margin: 1rem;
}

.main-image-box {
    display: flex;
    height: 330px;
    width: 476px;
}

.main-image-ssd {
    width: auto;
    margin: auto;
}

.price-set {
    display: flex;
}

.sub-price {
    margin-top: 1.8rem;
    vertical-align: bottom;
}

.price {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 40px;
}

.vl {
    border-left: 3px solid rgb(255, 255, 255, 1);
    height: 53.1%;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 23%;
}

.vl2 {
    border-left: 4px solid rgb(255, 255, 255, 1);
    height: 53.1%;
    position: absolute;
    left: 48%;
    margin-left: -3px;
    top: 23%;
}

.butt-buy {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border: none;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-left: 5rem;
}

.butt-buy:hover {
    background: #ee0000;
    box-shadow: 0 15px 20px rgba(255, 0, 0, 0.4);
    color: white;
    transform: translateY(-0px);
}

.delivery-various {
    margin-top: 2rem;
}

.icon {
    max-width: 23px;
    max-height: 20px;
}

.buy-set {
    margin-left: 1.6rem;
}

.horizonline {
    width: 52%;
    margin-left: -15px;
    position: absolute;
    border: none;
    border-top: 4px solid rgb(255, 255, 255);
}

.delivery-type {
    display: flex;
    margin-top: 5%;
}

.delivery-name-text {
    font-family: 'Montserrat', sans-serif;
    max-width: 10rem;
    font-weight: normal;
    font-size: 13px;
    margin-left: 1rem;
    margin-top: -0.3rem;
    vertical-align: text-top;
}

.delivery-dev-text {
    width: 15rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 10%;
}

.delivery-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    width: 10rem;
    margin-left: 10%;
}

.desc-price {
    margin-left: 8.4rem;
}

.features-box {
    background: rgb(247, 247, 247);
    margin-top: 0.25rem;
    padding: 1rem;
}

.features-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.span-name {
    color: rgb(189, 189, 189)
}

.features-items {
    margin-top: 0.5rem;
    padding: 1rem;
}

.features-item {
    display: flex;
    align-items: baseline;
    margin-top: 1.6rem;
    align-content: center;
    justify-content: flex-start;
}

.features-text-t {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
}

.hr-features-text {
    display: flex;
    border: none;
    width: 20%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px dotted rgb(172, 172, 172);
}

/* Стилізація кожної лінії в характеристики */

.hr2{
    width: 17.58%;
}

.hr3{
    width: 20.7%;
}

.hr4{
    width: 14.8%;
}

.hr5{
    width: 19.2%;
}

.hr6{
    width: 8.73%;
}

.hr7{
    width: 13.54%;
}

.hr8{
    width: 19.52%;
}

.hr9{
    width: 16.65%;
    min-width: 16.65%;
}

.hr10{
    width: 24.37%;
    min-width: 24.37%;
}

/*Закінчення стилізації ліній*/

.statements-box{
    background: rgb(247,247,247);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.statements-items{
    display: flex;
    flex-direction: column;
}

.inpt-card{
    background: rgba(0,0,0,0);
    padding-top: 0.3rem;
    margin-top: 1rem;
    padding-left: 0.1rem;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgb(119, 119, 119);
    border-radius: 4px;
    outline: none;
}

.inpt-card:focus::placeholder{
    transition: all ease 0.3s;
    color: transparent;
}

.inpt-card::placeholder{
    transition: all ease 0.3s;
    color: rgb(95, 95, 95);
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    padding: 0.2rem;
}

.center{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.buy-bg{
    background: rgb(247,247,247);
    justify-content: center;
}

.butt-set{
    display: flex;
    width: 100%;
    justify-content: center;
}