.support-bg{
    background-image: url('./images/bg.png');
    background-size: cover;
}

.form-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

form{
    width: 100%;
    justify-content: space-between;
}

.form-main-box{
    display: flex;
    flex-direction: row;
}

.input{
    background: transparent;
    border: 1px solid gray;
    color: rgb(197, 197, 197);
    margin-left: 2%;
    margin-top: 20%;
    outline: none;
    font-size: 30px;
    width: 80%;
    padding-top: 10px;
    padding-right: 10px;
    font-style: italic;
    padding-left: 10px;
    border-radius: 5px;
}

.butt{
    background: transparent;
    border: 2px solid gray;
    color: rgb(197, 197, 197);
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 44%;
    margin-top: 5%;
    margin-bottom: 100px;
    font-size: 20px;
    align-self: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
}

textarea{
    background: transparent;
    border: 1px solid gray;
    color: rgb(197, 197, 197);
    margin-left: 2%;
    margin-top: 20%;
    outline: none;
    font-size: 20px;
    width: 80%;
    padding-top: 10px;
    padding-right: 10px;
    font-style: italic;
    padding-left: 10px;
    border-radius: 5px;
    resize: none;
}

.support-text{
    color: white;
}

.box{
    display: flex;
    flex-direction: column;
}

.main-center-text-s {
    font-family: "RBNo2.1",-apple-system,blinkmacsystemfont,San Francisco,Helvetica,sans-serif;
    font-size: 53px;
    font-weight: bold;
    transition: 1s ease all;
    letter-spacing: 0.5ch;
    text-align: center;
    margin-top: 2%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
    color: #dddddd;
    text-transform: uppercase;
}

.input::-webkit-input-placeholder       {opacity: 1;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input::-moz-placeholder                {opacity: 1;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:-moz-placeholder                 {opacity: 1;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:-ms-input-placeholder            {opacity: 1;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:focus::-webkit-input-placeholder {opacity: 0;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:focus::-moz-placeholder          {opacity: 0;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:focus:-moz-placeholder           {opacity: 0;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}
.input:focus:-ms-input-placeholder      {opacity: 0;font-style: normal; font-size: 30px; transition: opacity 0.7s ease;}