*{
    user-select: none;
    -webkit-user-drag: none;
    margin: 0%;
    padding: 0%;
}

.main-image{
    width: 100%;
    height: 400px;
}

.bgm{
    background-image: url("https://img.freepik.com/free-vector/dark-low-poly-background_1048-7971.jpg?size=626&ext=jpg");
    background-size: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category{
    margin-top: -3.7px;
}

.top-bar-shop{
    height: 0px;
    display: flex;
    background: rgb(206, 206, 206);
    box-shadow: 0px 0px 11px 3px black;

}

@font-face {
    font-family: 'RBNo2.1';
    src: local('RBNo2.1 a Hairline'), local('RBNo2.1-a-Hairline'),
        url('../../fonts/RBNo21a-Medium.woff2') format('woff2'),
        url('../../fonts/RBNo21a-Medium.woff') format('woff'),
        url('../../fonts/RBNo21a-Medium.ttf') format('truetype');
}

.text-center:visited{
    color: black;
    text-decoration: none;
}

.item2{
    margin-left: 0%;
}

.text-center:hover{
    background: rgb(165, 165, 165);
}

.instrument-bar{
    background: rgb(235, 235, 235);
    height: 100%;
    width: 15%;
    margin-top: 2%;
}

.work-window{
    justify-content: space-between;
}

.center{
    font-family: "RBNo3.1", -apple-system, blinkmacsystemfont, "San Francisco", Helvetica, sans-serif;
    font-weight:600;
    text-align: start;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 3%;
}

.main-center-text{    font-family: "RBNo2.1",-apple-system,blinkmacsystemfont,San Francisco,Helvetica,sans-serif;
    font-size: 53px;
    font-weight: bold;
    transition: 1s ease all;
    letter-spacing: 0.5ch;
    line-height: 1;
    text-align: center;
    margin: 0 0 1.5rem;
    margin-top: 2%;
    text-shadow: 0 1px 0 #CCCCCC,
    0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
     0 20px 20px rgba(0,0,0,.15);
    color: #dddddd;
    text-transform: uppercase;
}

.sub-center-text{
    margin-top: -1%;
    font-size: 23px;
    transition: 1s ease all;
    margin-bottom: 5%;
}

.item-instrument-bar{
    display: flex;
    justify-content: space-between;
}

.sub-center{
    margin-bottom: 0%;
}

hr{
    border: 0px;
    border-top: 1px solid rgb(216, 216, 216);
    width: 80%;
    margin: auto;
    color: #aaa;
}

.text-sub{
    margin-top: 0%;
}

.text-weight-normal{
    font-weight: normal;
}

.input-margin{
    margin-right: 10%;
}

.mgt-1pr{
    margin-top: 1%;
}

.text{
    width: 100px;
    height: 17px;
    background: black;
}

.pink{
    background: rgb(250, 0, 196);
}

.red{
    background: rgb(238, 0, 0);
}

.white{
    background: rgb(255, 255, 255);
}

.mgt-10pr{
    margin-top: 10%;
}

.img-tile-shop{
    width: 100%;
    height: auto;
}

.item-product{
    border: transparent;
    background: rgba(255, 255, 255, 0.247);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    margin: 3%;
}

.hr-full{
    width: 100%;
}

.work-space{
    width: 100%;
}

.tile{
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
}

.tile-price{
    height: 80%;
    width: 100%;
    font-weight: 700;
}

.link{
    align-self: center;
    padding: 5px 15px 5px 15px;
    margin-left: 20%;
    border-radius: 10px;
    background: rgb(0, 202, 0);
}

.top-bar-hooper{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: rgba(150, 150, 150, 0.836);
}

.inpt{
    background: transparent;
    font-size: 19px;
    outline: none;
    border: 0px;
    border-bottom: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
}