.background {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #020018;
    width: 100%;
}

.white-color {
    color: #cecece;
    font-size: 60px;
    text-align: center;
}

.line-dotted {
    border-top: 2px dotted rgb(163, 163, 163);
    border-bottom: 2px dotted rgb(163, 163, 163);
    width: 100%;
}