.background {
    padding-top: 10px;
    background-color: #0f0e1f;
    width: 100%;
}

.white-color {
    color: #cecece;
    font-size: 5vw;
    text-align: center;
}

.line-dotted {
    border-top: 2px dotted rgb(163, 163, 163);
    border-bottom: 2px dotted rgb(163, 163, 163);
    width: 100%;
}

.sel-bar {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

.sp-text {
    color: #cecece;
    font-size: 2.4vw;
    cursor: pointer;
}

.vl-bar {
    border-left: 2px dotted rgb(163, 163, 163);
}